/*Variables*/
:root{
    --blue: #34345b;
    --white: #ebebeb;
}



/*General Design*/
body, html {
    padding: 0;
    margin: 0;
}

body{
    background-color: #ebebeb;
    font-family: sans-serif;
}

.odd{
    background-color: var(--blue);
}

/*Header Design*/

header{
    text-align: center;
    font-size: 55px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

header nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 45px 20px 45px;
    font-weight: bold;
}

header nav a{
    text-decoration: none;
    color: #a6a6a6;
    margin: 0px 20px;
}

header nav a:hover{
    text-decoration: none;
    color: white;
}

/*Home Design*/

#home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#home-text{
    width: 400px;
}

#home-text h1{
    font-size: 40px;
}

#home-text p{
    font-size: 23px;
}

.profile-picture{
    border-radius: 100%;
    width: 300px;
}

#home-text, #profile-img{
    margin: 50px 30px 50px 30px;
    padding: 0;
}

/*Projects Design*/

#projects{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 80px;
}

.project-card{
    background-color: #646782;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    margin:15px;
}

.project-text{
    padding: 20px;
}

.project-text a{
    color: black;
    text-decoration: none;
}

.project-text a:hover{
    text-decoration: underline black 2px;
}

.project-card ul{
    padding: 0px 20px;
}

.project-photo{
    border-radius: 100%;
    width: 60%;
    padding-top: 30px;
}

/*Certificates Design*/

#certificates{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    font-size: 30px;
}

table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
}

table{
    width: 80%;
}

tr{
    height: 70px;
}

/*Contact Me Design*/

#contact-me{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
    color: var(--white);
    font-size: 20px;
    font-weight: bold;
}

#contact-me h1{
    font-size: 60px;
    color: var(--white);
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 60%;
}

input{
    height: 25px;
}

#submit{
    width:100px;
}

/*Footer Design*/
i{
    font-size: 25px;
    padding: 3px 10px;
    color: black;
}

i:hover{
    color:var(--blue)
}

/*Media Query*/

@media screen and (max-width:750px){
    #projects{
        flex-direction: column;
    }

    header nav{
        flex-direction:column;
    }
}